<table class="dataTable">
    <tr>
        <th>Járat</th>
        <th>Megálló</th>
        <th>Végállomás</th>
        <th>Érkezik</th>
    </tr>

    {% for route in comingRoutes %}
        <tr>
            <td>{{ route.line }}</td>
            <td>{{ route.stop }}</td>
            <td>{{ route.stopHead }}</td>
            <td>{{ route.waiting }}</td>
        </tr>
    {% endfor %}
</table>