<table>
    <tr>
        <th>Járat</th>
        <th>Megálló</th>
        <th>Végállomás</th>
        <th>Érkezik</th>
    </tr>
    <tr>
        <td>{{ line }}</td>
        <td>{{ stop }}</td>
        <td>{{ terminal }}</td>
        <td>{{ come }}</td>
    </tr>
</table>